# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VSCode settings
.vscode/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
data/raw/
data/processed/

# Ignore virtual environments
venv/
my_env1/
